@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('../imagenes/Fondo3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    font-family: "Poppins", sans-serif;	
  }

  .error{
    color: red;
    float: left;
    font-size: 30px;
  }
  
  .form-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 500px;
    background:linear-gradient(30deg,#04275f, #081631, #044092);
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;	
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  .aling-items{
    margin-top: -80px;
    width: 350px;
    text-align: center;
  }
  
  .form-register h4 {
    font-family: "Poppins", sans-serif;	
    font-size: 35px;
    margin-bottom: 40px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }






  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 20px 0;
    height: 55px;
    border-radius: 55px;
    border: 1px solid #f0f0f0;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
      
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: black; /*Color de iconos de inicio de sesión*/
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
  }
  
  .input-field input::placeholder {
    color: #525252;
    font-weight: 500;
  }

  .input-field:active{
      border: 1.5px solid red;
  }
  

  .btn { /*Iniciar Sesión*/
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width: 150px;
    background-color:#04275f;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: white;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }

  .btn:hover {
    background-color: #04277f;
  }
  